<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="INFO" class="com.qunar.flight.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.base}/logs/info.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{1}:%L - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="INFO" />
		</filter>
	</appender>

	<appender name="ERROR" class="com.qunar.flight.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.base}/logs/error.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{1}:%L - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<logger name="com.qunar.dx2" additivity="true">
		<level value="INFO" />
		<appender-ref ref="INFO" />
		<appender-ref ref="ERROR" />
	</logger>

	<logger name="org.apache.http.client" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>
	<root>
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
	</root>

	<category name="STATISTICS" additivity="true">
		<appender-ref ref="statistics_dailyFile" />
	</category>

	<appender name="statistics_dailyFile" class="com.qunar.flight.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.base}/logs/dx2-lm-ui-statistics.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{1}:%L - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="INFO" />
		</filter>
	</appender>

	<category name="STATISTICS_CLIENT" additivity="true">
		<appender-ref ref="statistics_client_dailyFile" />
	</category>

	<appender name="statistics_client_dailyFile" class="com.qunar.flight.log4j.DailyRollingFileAppender">
		<param name="File"
			value="${catalina.base}/logs/dx2-lm-ui-statistics-client.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{1}:%L - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="INFO" />
		</filter>
	</appender>

	<category name="dx2_lm_ui_access" additivity="true">
		<appender-ref ref="dx2_lm_ui_accessFile" />
	</category>

	<appender name="dx2_lm_ui_accessFile" class="com.qunar.flight.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.base}/logs/dx2_lm_ui_access.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{1}:%L - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="INFO" />
		</filter>
	</appender>
	
</log4j:configuration>
