<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>去哪儿当地</title>
#dpi()
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="telephone=no" name="format-detection" />

<link type="text/css" rel="stylesheet" media="screen" href="${qzzUrl}/mobile_douxing/prd/styles/page/disc#ver("/ver/styles/page/disc.css.ver").css" />
</head>

<body>
<div class="DX_load_c">
    <p class="img"></p>
    <p class="word">#if($errorMsg)$!errorMsg#else加载失败，网络好像不给力哦~#end</p>
</div>
</body>
</html>