<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>去哪儿当地--去哪儿网Qunar.com</title>
    <link type="text/css" rel="stylesheet" media="screen"
          href="${qzzUrl}/idaohang/prd/styles/home.css"/>
</head>

<body>
<div class="q_page">
    <div class="L_banner" id="slide">
        <ul class="box" id="slide_imgs">
            <li class="img1"></li>
            <li class="img2"></li>
            <li class="img3"></li>
            <li class="img4"></li>
            <li class="img5"></li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="${qzzUrl}/jquery/prd/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="${qzzUrl}/idaohang/prd/scripts/home.js"></script>

</body>

</html>
